doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    tittle Lista No Ordenada
  body
    ul
      li Amarillo
      li Azul
      li Rojo
      li Blanco
      li Verde
    ul
      li Serie A
        ul
          li Inter de Milan
          li Juventus
          li Milan
      li
        ul
          li Real Madrid
          li Valencia 
          li Altétco de Madrid
      li Liga Aguila 
        ul
          li O11CE CALDAS
          li Millonarios
          li Junior