doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    tittle Imagenes
  body
    img(src="http://tinyurl.com/gwxq7yh", title="Imagen de Internet") 8
    img(src="http://tinyurl.com/gwxq7yh", width="120px") 
    img(src="http://tinyurl.com/gwxq7yh", height=100")