doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    tittle Tablas
  body
    table(border=1)
      tr
        th Nombre Completo
        th Teléfono
        th Dirección
      tr
        td La Momia
        td 8324300
        td Calle 11 #7A - 32
      tr
        td Camilo Grajales
        td 3113198179
        td Calle 6 No. 16 - 81
      tr
        td Vegetta Saiyajin
        td 8329019
        td Vegitto
      tr
        td Gohan Saiyajin
        td 8248291
        td La tierra