doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Mi primer documento HTML 5
  body
    h1 Documento HTML 5
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae vero inventore. Cum, autem necessitatibus quidem? Maxime culpa, necessitatibus unde ut, facilis praesentium nemo repudiandae esse eius ea. Porro placeat, commodi, nostrum excepturi necessitatibus error maxime rerum non repellendus, iusto amet, enim. Veniam molestiae, expedita nobis perspiciatis facere enim dicta earum voluptas ratione suscipit maiores iste non consequatur tenetur, libero quae modi optio laborum. Necessitatibus repellendus vitae asperiores, quam mollitia hic odit veniam impedit aliquam quia, qui nesciunt laboriosam! Aspernatur, quia, sequi? Placeat illo vel, ut veniam dolor perferendis facere modi dicta cupiditate possimus? Magni aperiam id, quibusdam facilis repellat.