doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tipos de Entradas (Formulario)
  body
    h1 Tipos de Entradas (Formulario)
    hr
    form(method='post')
      // Color ----------------------
      label(for='color') Color:
      input(type='color', id='color')
      br
      br
      // Date ----------------------
      label(for='date') Fecha:
      input(type='date', id='date')
      br
      br
      // Email
      label(for='email') Emalil:
      input(tpe='email', id='email')
      br
      br
      //Month
      label(for='month') Mes:
      input(type='month', id='month')
      br
      br
      //Number
      label(for='numero') Número:
      input(type='mnumero', id='numero')
      br
      br
      //Range
      label(for='rango') Ranfo:
      input(type='rango', id='Range')
      br
      br
      //Search
      label(for='buscar') Buscar:
      input(type='buscar', id='buscar')
      br
      br
      //Time
      label(for='tiempo') Tiempo:
      input(type='tiempo', id='tiempo')
      br
      br
      //Url
      label(for='url') Link:
      input(type='url', id='url')
      br
      br
      //Week
      label(for='semana') Semana:
      input(type='semana', id='semana')