doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title C칩digos (jade)
  body
    h1 Comentarios (jade)
    // just some paragraphs
    p El aprendiz pr치tica en Jade
    p Analisis y Desarrollo de Sistemas de Informaci칩n
    br
    br
    //- will not output within markup
    p Programaci칩n en ADSI
    p No tengo ideas sobre que poner de texto