doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Codicionales (jade)
  body
    h1 Condicionales (jade)
    - var edad = 18
    - var genero = 'F'
    // Condicional if (Sí)
    if edad < 18
      h2 Usted es menor de edad
    else
      h2 Usted es mayor de edad
      if genero == 'F'
        h3 Y no puede prestar servicio