//- 07_herencia.jade
extends ./layout.jade

block title
  title Título del Artículo

block content
  h1 Mi Artículo
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus illum libero, accusamus cupiditate id, iusto soluta provident. Sed velit tenetur vel repudiandae. Nam earum voluptas ducimus, illo molestias eum.