doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Ejemplo Rutas Relativos
    link(href="estilos.cs", rel="sheet")  
  body
    .marcoppal
      .encabezado
        a(href="javascript:;") Inicio &nbsp
        a(href="secciones/nosotros.html") Nosotros &nbsp
        a(href="secciones/servicios.html") Servicios &nbsp
        a(href="secciones/contacto.html") Contacto &nbsp
    .contenido
      h1 Bienvenidos a mi Sitio Web
      img(src="imagenes/index.png")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maxime alias blanditiis porro, totam veritatis eius natus consectetur dolorem sapiente unde deleniti quod rerum veniam nihil qui et fuga eveniet!
    .pie
      p Todos los derechos reservados 2016