doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title S e r v i c i o s
    link(href="../estilos.cs", rel="sheet")  
  body
    .marcoppal
      .encabezado
        a(href="../index.html") Inicio &nbsp
        a(href="Nosotros.html") Nosotros &nbsp
        a(href="javascript:;") Servicios &nbsp
        a(href="contacto.html") Contacto &nbsp
    .contenido
      h1 Servicios
      img(src="../imagenes/Servicios.png")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maxime alias blanditiis porro, totam veritatis eius natus consectetur dolorem sapiente unde deleniti quod rerum veniam nihil qui et fuga eveniet!
    .pie
      p Todos los derechos reservados 2016